<h1>Number Navigator</h1>

<div class="warning-message">
  <strong>Warning:</strong> The extension manipulates page content. Caution is advised when activating this feature during important work sessions.
</div>
<div class="speech-container">

  @if (!isBrowserSupported) {
    <div class="error-message">
      <p>⚠️ {{ errorMessage }}</p>
    </div>
  }
<div>
  <button class="start-button" (click)="toggleContentScriptNumbering()">
    {{ isContentScriptNumberingActive ? 'Off' : 'On' }}
  </button>
</div>
  @if (isBrowserSupported) {
    <div>
    <hr />
    <div class="controls">
      <label for="language-select">🇺🇸🇮🇹🇪🇸🇫🇷🇩🇪🇸🇦🇯🇵</label>
      <select id="language-select" [ngModel]="selectedLanguage" (ngModelChange)="onLanguageChange($event)">
        @for (lang of languages; track lang.code) {
          <option [value]="lang.code">
            {{ lang.name }}
          </option>
        }   
      </select>
    </div>
    <hr />

  
</div>
  }
  <p class="instructions">
    The functionality is activated using the 'On' button at the top. Once active, the extension will display numbers next to interactive elements on the page. You can interact with these elements by speaking the corresponding number. Additionally, the voice commands '0' (zero) and '1' (one) allow scrolling the page down and up, respectively.
  </p>
</div>